
.navbar{

    
    
   }
   .brand{
  
     
       align-items: center;
     margin-left: 80px;
       border-radius: 13px;
       margin-top: -20px;
   }
   #tg-img{
       width: 0px;
   }


   .navbar-nav li{

       margin-top: 38px;
   
   }
   .nav-link{
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #F2C94C;
    text-transform: capitalize;
    margin-left: 80px;
  
 
  
    
    letter-spacing: 0.05em;
   }
   .nav-link:hover{
       background-color: #F2C94C;
       border-radius: 15px;
       color: black
   }

 
   .navbar-toggler{
    background: #F2C94C;
       margin-top: 33px;
       align-self: end;
 
       
   }
   #bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/head.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   }
  
   #head{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 67px;
    line-height: 79px;
    text-align: center;
    margin-top: 121px;
   overflow: hidden;
   color: #F2C94C;
   }
   .btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 126px;
   }

   #img-b {
    background: url(img/twob.png);
    background-repeat: no-repeat;

    
  }
  .transbox {
    background: rgba(2, 2, 2, 0.952);
  }


   #two-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
  color: #F2F2F2;
  margin-left: 70px;
  margin-right: 70px;
}



   #topic-1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
line-height: 25px;
margin-top: 29px;
color: #F2C94C;

} 

#w-t{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
  text-align: center;
  color: #F2C94C;
  margin-top: 61px;
}
#w-t2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  color: #4F4F4F;
  margin-bottom: 55px;

}



#row1{
    background-color: black;
    color: white;
}
#img-d{
   margin-top: 100px;
   margin-bottom: 25px;
}
#img-e{
    margin-top: 100px;
    margin-bottom: 25px;
 }
#yel-g{
    background-image:url("img/group.png");
  height: 325px;
}

#img-y{
    margin-top: 131px;
    align-items: center;
        }
 #y-1{
    margin-top: 131px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
 }
 #y-2{
    font-size: 30px;
 }
 #img-2{
    background-image: url("img/f-1.jpg");
   width: 100%;
    background-size: cover;
    
}
#f-1{
   
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
margin-top: 93px;
color: #FFFFFF;
 }
#con{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #F2C94C;
text-align: left;
}

#c-v{
margin-right: 34px;
}
#imlast{
   
    color: white;
  align-items: right;
  text-align: left;
}
#con-1{
    color: white;
}
#im-last{
    margin-right: 18px;
    margin-bottom: 10px;
}










   /*--Media Quries--*/
   @media (max-width:992px){
   
}

@media (max-width:768px){
    

}
@media (max-width:576px){
    #tg-img{
        width: 85px;
        height: 121px;
        background-color: white;
        border-radius: 12px;
        padding: 15px;
    }
    #brand{
        padding: 0px;
    margin-top: 0px;
        align-items: center;
      margin-left: 0px;
        border-radius: 0px;
        margin-top: 0px;
        height: 0px;
        width: 0px;
        background-color: transparent;
        
    }
    .nav-link{
        font-family: 'Roboto', sans-serif;
        font-style: bold;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color:white;
        text-transform: capitalize;
        margin-left: 50px;
        letter-spacing: 0.05em;
      margin-left: 120px;
       }
       #head{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height:49px;
        text-align: center;
        margin-top:75px;
       overflow: hidden;
       
      
        /* Yellow */
        
        color: #F2C94C;
       }
       #btn1{
     
        font-size: 25px;
        line-height: 35px;
    
      
       
    }
    #two-p{
        font-family: Roboto;
        font-style: normal;
       font-size: 13px;
        line-height: 12px;
        text-align: justify;
        margin:10px;
    margin-top: 12px;
        
        color: #F2F2F2;
    }
    #topic-1{
        font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    margin-top: 25px;
    color: #F2C94C;
   
    }
    
    
    #w-t{
        font-family: Roboto;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-top: 41px;
    }
    #w-t2{
        font-family: Roboto;
    font-size: 14px;
    line-height: 18px;
 
    }
    
    #img-d{
        height: 61px;
        width: 54px;
        margin-top:80px ;
    }
    #img-e{
        height: 40px;
        width: 65px;
       margin-top:100px ;
    }
    #y-1{
        margin-top:50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #F2F2F2;
     }
     #y-2{
        font-size: 15px;
     }
    
    


    #yel-g{
        background-image:url("img/group.png");
      height: 100%
    }
    #img-y{
        margin-top: 31px;
       height: 75px;
       margin-bottom: 50px;

        
            }
            #con{
                font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 18px;
            color: #F2C94C;
            text-align: center;
            }

            #imlast{
   
                color: white;
              align-items: right;
              text-align: center;
            }
           
          #c-v{
              text-align: center;
              margin-right: 0px;

          }
          #f-1{
   
       
        font-size: 12px;
        margin-top: 33px;
        color: #FFFFFF;
         }
   
        
}